@charset "ISO-8859-1";
body{
    margin:0px;
    background-color: pink;
    color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
}


.form-wrap{
    padding: 20px 50px 50px 50px;
    z-index:99;
}
.header{
    text-align: center;
    width: 100%;
}
.header-title{
    margin: 0px;
    font-size: 30px;
}

.header-subtitle{
    margin: 0px;
    font-size: 30px;
}
.p-support{
    padding: 0px;
    margin-top :5%;
    margin-bottom: 10%;
    font-size: 20px;
    text-align: center;
  
}

.header-support{
    text-align: center;
    width: 100%;
    margin-top:10%;
    margin-bottom:10px;
	color: #38345a;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;


}

.login-form-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}



.login-form-container > div {
	width:100%;
}

.login-form-container > div * {
	display:inline;
}
.login-form-container input {
	width: 25% !important;
}

.forget-form-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:right;
	margin-right:20%;
	margin:auto;
	
}
.forget-form-container > div {
	width:100%;
}

.forget-form-container > div * {
	display:inline;
}
.forget-form-container input {
	width: 75% !important;
}

.edit-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

/*.form-element1{
    float: left;
    width: 44%;
    border: 1px solid black;
    padding:5px;
    margin: 10px;
    border-radius: 5px;
}
.form-element2{
    float: right;
    width: 44%;
    border: 1px solid black;
    padding:5px;
    margin: 10px;
    border-radius: 5px;
}*/
.input-text{
    outline: none;
    border: 0px;
    padding: 3px;
    height: 30px;
    width: 25%;
    margin-bottom: 15px;
}
.input-text:focus{
    outline: none;
    padding: 2px;
    height: 30px;
}
.input-text1{
    outline: none;
    border: 0px;
    padding: 2px;
    height: 40px;
    width: 75%;
    margin-top:30px;
}
.input-text1:focus{
    outline: none;
    padding: 2px;
    height: 40px;
}
.input-text3{
    outline: none;
    border: 0px;
    padding: 2px;
    height: 100px;
    width: 75%;
    margin-top:30px;
}
/*.eyeBtn{
    background-color: white;
    outline: none;
    border: 0px;
    cursor: pointer;
    padding-top: 10px;
    float: right;
}
*/
.btn1{
    outline: none;
    border: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    box-shadow: 3px 3px  black;
}
.btn-loggin{
    background-color: #e01fa2;
    color: white;
}
.btn-recover{
    background-color:#f33f5e !important;
    color: white;
    margin-bottom:3%;
    margin-top: 3%;
}
.btn-loggin:hover{
    background-color: white;
    color: #e01fa2;
    font-weight: bold;
}
.line{
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
}

.sign-up{
    text-align: center;
   
    padding-top: 10px;
}
.form-a{ 
    text-decoration: none;
    padding: 5px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-register{	
    background-color: white;
    color:#e01fa2;
     border-style: solid;
     border: 5px;
}
.btn-register:hover{
    background-color: #e01fa2;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}

.forgot{
	Margin-top: 10px;
	text-align: center;
}
.bold-text{
    font-weight: bolder;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.bold-text1{
    font-weight: bolder;
    font-style: italic;
    color:#f33f5e;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20%;
    margin-left: 13%;
    
}

.searchbar {  
	overflow: hidden;
  	background-color: #e9e9e9;
  	margin-top: 20px;
  	margin-right: 20%;
  	margin-left: 20%;
  	border: 1px solid black;
}
  
.searchbar input[type=text] {
	color:grey;
  float: center;
  padding: 10px;
  font-size: 19px;
  width: 100%;
}

.support{
	flex-basis: 33%;
	padding:10px;
	flaot: center;
	
}


a{
	color: black;
	text-decoration: none;
}

a:visited {
  color: Purple;
}

a:hover {
  color: #45e0f1;
}

.background {    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/1412.jpg);
}

.form{
	text-align:	center;
	

	
}

.container-ticket{display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:#ffffff4d;
	margin-left: 30%;
	margin-right: 30%;
	margin-top:10%;
	margin-bottom: 10%;
	
	
}
.input-text2{
    outline: none;
    border: 0px;
    padding: 3px;
    height: 30px;
    width: 250px;
    margin-bottom: 15px;
}
.input-text3{
    outline: none;
    border: 0px;
    padding: 3px;
    height: 100px;
    width: 250px;
    margin-bottom: 15px;
}
.input-text4{
    outline: none;
    border: 0px;
    padding: 3px;
    height: 30px;
    width: 250px;
    margin-bottom: 15px;
	margin-top:10px;
}
/* HEADER */

.topbar {
    height: 80px;
    color:white;
    background-color: black;
    box-shadow: 0px 0px 9px 0px white;
    margin: 5px;
    position: sticky;
    top: 0;
    border-radius: 6px;
}
.img-contain {
    height: 100%;
    object-fit: contain;
}
.spacer {
	flex-grow: 1;
	flex-shrink: 1;
}

.img-contain1{
	height: 20%;
	width: 20%;
    object-fit: contain;
}